body {
    margin: 0;
}

.container {
    background-color: aliceblue;
}

.frame {
    padding-bottom: 5px;
}

iframe:first-child {
    border: 0px;
    /* clip-path: circle(50%); */
}

iframe {
    /* padding-top: 20px; */
    /* position: relative; */
    z-index: 1;
    display: absolute;
    margin: 0;
    box-shadow: none;
    /* transform: scale(0.95); */
    /* transform-origin: 0 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 0; */
    border: 0;
    /* overflow: hidden; */
    transition: opacity 1000ms ease-in;
}

iframe:not(.active) {
    opacity: 0.075;
}

.control-button {
    /* clip-path: (60%); */
    /* clip-path: url(rect3.svg#myPath); */
    /* clip-path: ("M16 0H208L193 25H0L16 0Z"); */
    clip-path: polygon(4% 0%, 100% 0%, 95% 101%, 0% 100%);

    padding-left: 20px;

    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.25px;

    width: 100%;
    position: absolute;
    z-index: 2;
    border: 0px;
    /* opacity: 0.4; */
    text-transform: uppercase;
    /* background-color: #75da59; */
    color: white;
    height: 30px;
    text-align: left;
    opacity: 0.7;
    transition: opacity 250ms ease-in, clip-path 250ms ease-in;
    /* transition: clip-path 250ms ease-in; */


}

@media (min-width: 480px) {
    .control-button {
        clip-path: polygon(0% 0%, 100% 0%, 100% 101%, 0% 100%);
        /* clip-path: none ; */
        /* color: black; */
    }
}




.control-button:hover {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 101%, 0% 100%);
}

.control-button:has(+ iframe.active) {
    background-image: url('./ctrlk.svg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 101%, 0% 100%);
}

.control-button:has(+ iframe#wineRegion) {
    background-color: #e33d8d;
}

.control-button:has(+ iframe#routeMap) {
    background-color: #b4997d;
}

.control-button:has(+ iframe#explosion) {
    background-color: #e0d77d;
}

.control-button:has(+ iframe#heatmap) {
    background-color: #4fd17c;
}

.control-button:has(+ iframe#clusters) {
    background-color: #59d6da;
}



.loading-screen {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
}

.loading-screen.loaded {
    visibility: hidden;
    opacity: 0;
}

.loading-screen_loader {
    background-image: url('./loading.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vh;
    /* transform: rotate(90deg); */
    /* transform: scaleX(2) rotate(90deg); */

}

.text-container {
    /* color: black; */
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.25px;
    color: aliceblue;
    padding-left: 1vw;
    font-size: 24px;
    animation: blinc 1s ease-in-out infinite;
}

@keyframes blinc {
    from {
        color: aliceblue;
        background-color: white;
    }

    to {
        color: white;
        background-color: aliceblue;
    }
}

.text-container p {
    text-transform: uppercase;
    margin-bottom: 0;
}

.text-container span {
    font-size: 18px;
}